# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual Environments
venv/
env/
.env/
ENV/

# macOS specific files
.DS_Store
.AppleDouble
.LSOverride

# Local environment variables
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

